.ionInput2 {
    border: solid 1px dimgrey;
    border-radius: 10px;
}

.toolbar{
    padding:7px 7px 80px 7px;
}

.currencyEUR{
    margin-left:5px;
    margin-right: 5px;
}
.ionSelect{
    border-radius:10px;
    border:solid 1px;
    width:100px;
    margin-top:30px;
    margin-left:10px;
}

.labelClass{
    display: inline-flex;
}

.spanClass{
    margin-top: 40px;
    margin-left: 100px;
}