<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-input id = "page2Amount" type = "number" placeholder = "Enter Amount" class = "ionInput2" >
      <div class="currencyEUR" aria-label="Currency Code"> EUR </div>
    </ion-input>
    <div>
    <div class="labelClass">
  <span class = "spanClass">TO</span>
  <ion-select class = "ionSelect" [interfaceOptions]="customAlertOptions" interface="alert" slot="start"  (ionChange) = "getCurrencySymbol($event)">
    <ion-select-option *ngFor = "let symbol of currencySymbols "value="{{symbol}}">{{symbol}}</ion-select-option>
  </ion-select>
</div>
</div>
    </ion-toolbar>
    <ion-card color = "primary">
      <ion-segment color = "primary" scrollable mode = "ios"  (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
        <ion-segment-button value = "1day">
          <ion-label>1D</ion-label>
        </ion-segment-button>
        <ion-segment-button value = "1month">
          <ion-label>1M</ion-label>
        </ion-segment-button>
        <ion-segment-button value = "1year">
          <ion-label>1Y</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card>
  </ion-header>
<ion-content [fullscreen]="true">
  <div>
  <ion-card>
    <ion-card-content>
      <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
</ion-content>

